@import './variables.scss';
@import './mixins.scss';

$shadow: 0 3px 2px rgba(0, 0, 0, 0.1);

body {
  margin: 0;
}

html, body, #root, .app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.app__content {
  flex: 1;
}