@import 'assets/shared';

.subscription-table {
    width: 75%;
    align-self: center;
    display: inline-block;
}

@media screen and (max-width: 500px){
    .subscription-table .MUIDataTablePagination-toolbar-537 span:nth-child(2){
        display: none;
    }
}