@import "assets/shared";

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: $shadow;

  .navbar__title {
    flex: 1;

    > ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      > li {
        margin-right: 20px;
        padding: 0 20px;
        border-right: solid 1px rgba(black, 0.16);

        &:last-child {
          border-right: none;
          margin-right: 0;
        }
      }
    }
  }

  .navbar__action {
    button {
      padding: 5px 10px;
      border: none;
      box-shadow: $shadow;
      border-radius: 5px;
      background-color: $themeBlue;
      color: $themeWhite;
      outline: none;
    }
  }
}
