@mixin sizing($size) {
  width: $size;
  height: $size;
  line-height: $size;
}

@mixin positioning($right, $left, $top, $bottom){
  right: $right;
  left: $left;
  top: $top;
  bottom: $bottom;
}

%notification-circle {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;  
  
    background-color: #fa3e3e;
    color: white;
    border-radius: 50%;
    font-size: 11px;
  
    position: absolute;
  }

  %notification-circle-profile {
    @extend %notification-circle;
    @include positioning(0px, -1, 0px, 0px);
  }

  .notification-circle-profile-small {
    @extend %notification-circle-profile;
    @include sizing(16px);
  }

  .notification-circle-profile-big {
    @extend %notification-circle-profile;
    @include sizing(19px);
  }

  .notification-circle-dropdown {
    @extend %notification-circle;
    @include positioning(0, 15px, 7px, 0);
    @include sizing(14px);
  }