.pricing {
    display: inline-block;
    padding-bottom: 50px;
}

.pricing-table-buttons{
    text-align: center;
    padding-left: 20px;
    padding-bottom: 30px;
}

%button-container {
    display: inline;
    padding-right: 20px;
}

.monthly-button-container {
    @extend %button-container;
}

.annual-button-container {
    @extend %button-container;

}

%generic-button {
    padding-right: 15px;
}

.monthly-button {
    @extend %generic-button;
}

.annual-button {
    @extend %generic-button;
}

