@import 'assets/shared';

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  font-size: 2rem;

  > button {
    font-size: 1.5rem;
    margin: 32px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $themeBlue;
    color: $themeWhite;
    outline: none;
  }
}
