@import 'assets/shared';

%font {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;  
}

.default-text {
    @extend %font;
}

%pricing-generic-text{
    @extend %font;
    display: block;
    color:#999999;
    font-size: 15px;
}

.pricing-card {
    width: 300px;
    height: 450px;
    text-align: center;
    padding: 15px 35px;
    box-sizing: border-box;
    border-radius: 15px;
    -moz-box-shadow: 0 0 3px rgb(247, 0, 0);
    -webkit-box-shadow: 0 0 3px rgb(247, 0, 0);
    box-shadow: 0 0 4px rgba(169,169,169, 1);
    display: inline-block;
}

.pricing-card:not(:last-child){
    margin-right: 50px;
}

.pricing-text-list {
    @extend %pricing-generic-text;
    list-style: none;
    text-align: center;
    padding-left: 0px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 0px;
}

.pricing-text-list li {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
}

.pricing-text-list li:not(:last-child) {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
}

.pricing-text-duration {
    @extend %pricing-generic-text;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
}

.pricing-text-title {
    @extend %pricing-generic-text;
    font-weight: bold;
    padding-bottom: 0px;
    color: black;
}

.pricing-text-limit-title {
    @extend .pricing-text-title;
    color: #999999;
}

.pricing-text-amount {
    @extend %pricing-generic-text;
    font-size: 50px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 16px;
    color: black;
    display: inline;
}

.pricing-text-currency{
    @extend %pricing-generic-text;
    font-size: 20px;
    display: inline;
    font-weight: bold;
    padding: 0px;
    color: black;
}

.pricing-text-limit {
    @extend %pricing-generic-text;
    font-weight: bold;
    display: inline;
    padding: 0px;
}

.material-icons.notification{
    font-size: 20px;
    text-align: center;
    padding-bottom: 6px;
    vertical-align: middle;
}

.material-icons.notification.check{
    color: green;
}

.material-icons.notification.close{
    color: red;
}

.pricing-button {
    @extend %pricing-generic-text;
    width: 60%;
}

@media (max-width: 1199px){
    .pricing-card {
        width: 275px;
        margin-right: 25px;
    }
}

@media (max-width: 1015px){
    .pricing-card {
        width: 265px;
    }

    .pricing-card:not(:last-child){
        margin-right: 15px;
    }
}

@media (max-width: 991px){
    .pricing-card {
        display: block;
        width: 300px;
        margin-bottom: 50px;
        margin-right: 0px;
    }

    .pricing-card:not(:last-child){
        margin-right: 0px;
    }
}

@media (max-width: 395px){
    .pricing-card {
        display: block;
        width: 250px;
        margin-bottom: 50px;
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .pricing-card:not(:last-child){
        margin-right: 0px;
    }
}

@media (max-width: 334px){
    .pricing-card {
        display: block;
        width: 225px;
        margin-bottom: 50px;
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .pricing-card:not(:last-child){
        margin-right: 0px;
    }
}

