.dropdown-button-container {
    display: inline-flex;
    width: 100%;
}

.dropdown-button-icon {
    width: 15px;
    height: 15px;
    padding-right: 5px;
}

.dropdown-notification-container {
    display: inline-flex;
}

.dropdown-button-content-container {
    display: inline-flex;
    padding: 7px 5px;
}